<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mario.broadcasttest" >


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> //访问系统关键信息需要授予权限.

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>//监听系统开机广播需要权限.

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name=".BootCompleteReceiver"> //指定具体注册哪一个播放器. 静态注册.
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/> //加入想要接收的广播.
            </intent-filter>>
        </receiver>

        <receiver android:name=".myBroadcastReceiver">
            <intent-filter android:priority="100"> //设置有序传递的priority.值越高优先度则越高.
                <action android:name="com.example.broadcasttest.MY_BROADCAST"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
